/* background color */
body
{
    background-color: white;
}

h2
{
    margin-right: 3%;
    margin-left: 3%;
}

h3
{
    margin-right: 3%;
    margin-left: 3%;
}

#header
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 160px;
}
#header img 
{
    margin-left: 1%;
}
#header h1
{
    margin-left: 20%;
}

/*arrotondato*/
#navbar
{
    margin-right: 3%;
    margin-left: 3%;
}
#navbar ul
{
    display: block;
    border-radius:25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
/* align to the left */
#navbar ul li
{
    float: left;
}
/*attivo*/
#navbar ul li a.active
{
    background-color: #4CAF50;
}
#navbar ul a
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
}
#navbar ul li a:hover
{
    background-color: #111111;
}

#mapid
{
    height: 500px;
    margin-right: 3%;
    margin-left: 3%;
}

button
{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* Style di input, select e textarea */
input[type=text], select, textarea 
{
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 25px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style tasto submit */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Container */
  .container 
  {
    margin-top: 12px;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 20px;
  }